annotated-types==0.7.0
asttokens==3.0.0
attrs==25.3.0
Automat==25.4.16
blinker==1.9.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
colorama==0.4.6
confection==0.1.5
constantly==23.10.4
contourpy==1.3.2
cryptography==45.0.5
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
executing==2.2.0
filelock==3.18.0
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.59.0
graphviz==0.21
greenlet==3.2.3
gunicorn==22.0.0
hyperlink==21.0.0
icecream==2.1.5
idna==3.10
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lxml==6.0.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
murmurhash==1.0.13
networkx==3.4.2
numpy==1.26.4
packaging==25.0
pandas==2.3.1
parsel==1.10.0
pillow==11.3.0
playwright==1.54.0
preshed==3.0.10
Protego==0.5.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyDispatcher==2.0.7
pyee==13.0.0
Pygments==2.19.2
pyOpenSSL==25.1.0
pyparsing==3.2.3
pytextrank==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
queuelib==1.8.0
requests==2.32.4
requests-file==2.1.0
rich==14.0.0
scipy==1.15.3
Scrapy==2.11.2
scrapy-playwright==0.0.34
service-identity==24.2.0
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
thinc==8.2.5
tldextract==5.3.0
tomli==2.2.1
tqdm==4.67.1
Twisted==25.5.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
w3lib==2.3.1
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.1.3
wrapt==1.17.2
zope.interface==7.2
